In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('data1185.csv')

In [ ]:
data.head()

,Unnamed: 0,hotel_name,lang,comments,notes
0,0,Riad Amina,NaN,A aimé\n · La disponibilité du personnel.\nL'e...,10
1,1,Riad Amina,NaN,A aimé\n · La deco (surtout des chambres) \nle...,"8,0"
2,2,Riad Amina,NaN,A aimé\n · Youssef et son équipe ont été très ...,"8,0"
3,3,Riad Amina,NaN,A aimé\n · Le personnel était au top!! Je revi...,"9,0"
4,4,Riad Amina,NaN,"A aimé\n · Accueil parfait de Younes, de la je...","8,0"

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185 entries, 0 to 1184
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1185 non-null   int64
 1   hotel_name  1185 non-null   object
 2   lang        39 non-null     object
 3   comments    1185 non-null   object
 4   notes       1184 non-null   object
dtypes: int64(1), object(4)
memory usage: 46.4+ KB

In [ ]:
def check(s):

    if(type(s)!= type(float()) and s.find("Ce client n'a pas laissé de commentaire")==-1):
        return False
  
    return True

In [ ]:
# nan or " Ce client n'a pas laissé de commentaire "
nb_drop_comments=len([i for i in data.comments.apply(check) if i==True  ])
nb_drop_comments

10

In [ ]:
index_drop=data[data.comments.apply(check)==True].index
index_drop

Int64Index([513, 514, 515, 749, 750, 751, 752, 753, 754, 755], dtype='int64')

In [ ]:
new_data=data.drop(index_drop,axis=0)

In [ ]:
new_data.iloc[[244]]

,Unnamed: 0,hotel_name,lang,comments,notes
244,244,Hotel La Corniche Fnideq,fr,"N'a pas aimé\n · Bon accueil, personnel sympa ...","8,0"

In [ ]:
for i in new_data.comments :
    if type(i)==type(float()):
        print(i)

In [ ]:
new_data=new_data.drop('Unnamed: 0',axis=1)
def float_repl(x):
    if type(x)!=type(float()):
        return  float(x.replace(',','.'))
    return x

In [ ]:
new_data.notes=new_data.notes.apply(float_repl)

In [ ]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1175 entries, 0 to 1184
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hotel_name  1175 non-null   object
 1   lang        29 non-null     object
 2   comments    1175 non-null   object
 3   notes       1174 non-null   float64
dtypes: float64(1), object(3)
memory usage: 45.9+ KB

In [ ]:
new_data.lang.unique()

array([nan, 'fr'], dtype=object)

In [ ]:
new_data.drop('lang',axis=1,inplace=True)

In [ ]:
nulls=new_data.notes.isnull()
for i in nulls.index:
    if( nulls[i]==True):
        new_data.drop(i,axis=0,inplace=True)

In [ ]:
def A_aime(x):
    if(x.find("A aimé")!=-1):
        return(x[9:])
    return x

In [ ]:
_comments=[]
for i in new_data.comments:
    _comments.append(A_aime(i))

In [ ]:
len(_comments)

1174

In [ ]:
new_data.comments=_comments

In [ ]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1183
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hotel_name  1174 non-null   object
 1   comments    1174 non-null   object
 2   notes       1174 non-null   float64
dtypes: float64(1), object(2)
memory usage: 36.7+ KB

In [ ]:
# new_data.to_csv('data610processed.csv')

In [ ]:
new_data.tail()

       hotel_name                                           comments  notes
1179  Malak Hotel                           Bon rapport qualité prix    8.0
1180  Malak Hotel   Le service est parfait, la disponibilité du p...    8.0
1181  Malak Hotel                                Accueil personnelle    7.0
1182  Malak Hotel   Tout : l'accueil, le service, la rapidité d'e...    9.0
1183  Malak Hotel   Personnel très agréable.\nEmplacement idéal a...    9.0

In [ ]:
len(new_data.hotel_name.unique())

73

In [ ]:
# fourth page

In [ ]:
new_data.to_csv('data1174processed.csv')